<!--汇率换算工具-->
{% extends "base.html" %}
{% block content %}
<body onload="listSessionStorageItems()">
<form method="post">
    <div class="layui-form">
        <div class="layui-form-item">
            <input class="layui-input" type="number" id="number" lay-affix="number" name="number" value="{{ number or '10' }}" placeholder="默认密码长度是10">
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="digits" value="True" lay-skin="switch" lay-filter="digits" title="包含数字|不含数字" {% if 'True' in digits %}checked{% endif %}>
            <input type="checkbox" name="uppercase" value="True" lay-skin="switch" lay-filter="uppercase" title="包含大写英文|不含大写英文" {% if 'True' in uppercase %}checked{% endif %}>
            <input type="checkbox" name="lowercase" value="True" lay-skin="switch" lay-filter="lowercase" title="包含小写英文|不含小写英文" {% if 'True' in lowercase %}checked{% endif %}>
            <input type="checkbox" name="special_chars" value="True" lay-skin="switch" lay-filter="special_chars" title="包含特殊符合|不含特殊符合" {% if 'True' in special_chars %}checked{% endif %}>
        </div>
        <div class="layui-form-item">
            <button type="submit" class="layui-btn" lay-submit lay-filter="demo-checkbox-submit" onclick="saveToSessionStorage()">确认</button>
        </div>
        <div class="layui-form-item">
            <input id="password_value" class="layui-input" value="{{password}}"/>
        </div>
        <div class="layui-form-item">
            <ul id="storageList"></ul>
        </div>
    </div>
</form>
<script>
    layui.use(function(){
        var form = layui.form;
        var layer = layui.layer;
        // checkbox 事件
        form.on('checkbox(demo-checkbox-filter)', function(data){
            var elem = data.elem; // 获得 checkbox 原始 DOM 对象
            var checked = elem.checked; // 获得 checkbox 选中状态
            var value = elem.value; // 获得 checkbox 值
            var othis = data.othis; // 获得 checkbox 元素被替换后的 jQuery 对象
        });

        // 通过表单提交事件，演示 checkbox 不同状态下的字段结果
        form.on('submit(demo-checkbox-submit)', function(data){
            var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            console.log(JSON.stringify(field), {
              title: '当前填写的字段值'
            });
            // 此处可执行 Ajax 等操作
            // …
            return true; // 阻止默认 form 跳转
        });
    });
</script>
<script>
    function saveToSessionStorage(){
        // 获取表单数据
        var password_value = document.getElementById('password_value').value;

        // 创建一个Date对象来获取当前日期和时间
        var now = new Date();
        // 将Date对象转换为字符串，以便保存到sessionStorage
        // 你可以使用不同的格式化方法，这里使用toISOString()
        var currentDateTime = now.toISOString();
        // 将数据保存到 sessionStorage
        sessionStorage.setItem(currentDateTime, password_value);
        // 验证数据是否已保存
        // console.log('Save:', uniqueKey, sessionStorage.getItem(uniqueKey));
        listSessionStorageItems(); // 每次添加后更新列表
    }

    // 列出 sessionStorage 中的所有项
    function listSessionStorageItems() {
        var storageList = document.getElementById('storageList');
        storageList.innerHTML = ''; // 清空旧列表项

        for (var i = 0; i < sessionStorage.length; i++) {
            var key = sessionStorage.key(i);
            var value = sessionStorage.getItem(key);
            var listItem = document.createElement('li');
            listItem.textContent = "时间: " + key + " 密码: " + value;
            storageList.appendChild(listItem);
        }
    }

</script>
</body>
{% endblock %}